## Practicing real world examples

In [1]:
import pandas as pd
import numpy as np

1. Get the Dataset

In [ ]:
cars = pd.read_csv('./mtcars.csv') # load the dataset

2. Look at the Data Structure

In [11]:
cars.head() # Quick look of dataset

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [39]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [14]:
cars['model'].value_counts().head()

model
Mazda RX4            1
Mazda RX4 Wag        1
Datsun 710           1
Hornet 4 Drive       1
Hornet Sportabout    1
Name: count, dtype: int64

In [15]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

3. Create two sets of Dataset

- Training set
- Testing set

Method 1:
Making it manually

In [74]:
def split_dataset(df:pd.DataFrame, ratio:float, seed:int=42):
    
    np.random.seed(seed)

    shuffle_indices = np.random.permutation(len(df)) # shuffle the dataset [31,3,5,...]
    print(shuffle_indices)
    text_set_size = int(len(df) * ratio) # returns 32 * 0.2 = 6.2 => 6 

    test_indices = shuffle_indices[:text_set_size] # [0,1,2,3,4,5]
    train_indices = shuffle_indices[text_set_size:] # [6,7,8,9,10,...31]

    return df.iloc[train_indices], df.iloc[test_indices]

In [75]:
train_set, test_set = split_dataset(cars, 0.2)

[29 15 24 17  8  9 30 25 12  0  4 16  5 13 11 23  1  2 26  3 21 27 22 18
 31 20  7 10 14 28 19  6]