### Simple calculations and aggregations

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('mtcars.csv')

 #### Basic Column Calculations

In [9]:
# Average mpg
print(df['mpg'].mean())  

# Maximum in hp
print(df['hp'].max())

# Minimum in hp
print(df['hp'].min())

# Sum in hp
print(df['hp'].sum())

20.090625000000003
335
52
4694

#### Apply multiple aggregations to one or more columns

In [10]:
df[['mpg', 'hp']].agg(['mean', 'median', 'max', 'min', 'sum'])

               mpg         hp
mean     20.090625   146.6875
median   19.200000   123.0000
max      33.900000   335.0000
min      10.400000    52.0000
sum     642.900000  4694.0000