### Simple calculations and aggregations

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('mtcars.csv')

 #### Basic Column Calculations

In [9]:
# Average mpg
print(df['mpg'].mean())  

# Maximum in hp
print(df['hp'].max())

# Minimum in hp
print(df['hp'].min())

# Sum in hp
print(df['hp'].sum())

20.090625000000003
335
52
4694

#### Apply multiple aggregations to one or more columns

In [10]:
df[['mpg', 'hp']].agg(['mean', 'median', 'max', 'min', 'sum'])

               mpg         hp
mean     20.090625   146.6875
median   19.200000   123.0000
max      33.900000   335.0000
min      10.400000    52.0000
sum     642.900000  4694.0000

#### Create New Calculated Column

In [14]:
df['hp_per_mpg'] = df['hp'] / df['mpg']
print(df[['mpg', 'hp', 'hp_per_mpg']])

     mpg   hp  hp_per_mpg
0   21.0  110    5.238095
1   21.0  110    5.238095
2   22.8   93    4.078947
3   21.4  110    5.140187
4   18.7  175    9.358289
5   18.1  105    5.801105
6   14.3  245   17.132867
7   24.4   62    2.540984
8   22.8   95    4.166667
9   19.2  123    6.406250
10  17.8  123    6.910112
11  16.4  180   10.975610
12  17.3  180   10.404624
13  15.2  180   11.842105
14  10.4  205   19.711538
15  10.4  215   20.673077
16  14.7  230   15.646259
17  32.4   66    2.037037
18  30.4   52    1.710526
19  33.9   65    1.917404
20  21.5   97    4.511628
21  15.5  150    9.677419
22  15.2  150    9.868421
23  13.3  245   18.421053
24  19.2  175    9.114583
25  27.3   66    2.417582
26  26.0   91    3.500000
27  30.4  113    3.717105
28  15.8  264   16.708861
29  19.7  175    8.883249
30  15.0  335   22.333333
31  21.4  109    5.093458